@import "public/colors";
.get-started {
  flex: 1;
  .get-started-title {
    color: map_get($colors, address-bar);
    margin-top: 2em;
    margin-bottom: 40px !important;
  }
}
.left-content {
  padding: 0 !important;
  text-align: center;
  border-right-color: map_get($colors, address-bar);;
  border-right-width: 1px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  .left-content-img {
    width: 150px;
    display: inline-block !important;
    margin-top: 50px;
  }
  .content-title {
    margin-top: 40px;
    margin-bottom: 0;
    color: map_get($colors, address-bar);
  }
  .content-title1 {
    margin-top: 0;
    color: map_get($colors, address-bar);
  }
  .content-description {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    color: map_get($colors, dark-gray);
  }
}
.right-content {
  padding: 0 !important;
  .right-title {
    margin-top: 20px;
    color: map_get($colors, address-bar);
    margin-bottom: 0;
  }
}
.right-content-item {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  margin-bottom: 15px;
  .right-content-item-image {
    width: 80px;
    height: 80px;
  }
  .content-description {
    color: map_get($colors, dark-gray);
    margin-left: 30px;
    text-align: left;
  }
}
.bottom-content {
  margin-top: 40px !important;
  .btn-get-started {
    font-size: 1.3em;
    padding: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}