@import "public/colors";
.mindset-tab {
  flex: 1;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  font-family: 'Roboto';
  font-weight: bold;
  height: calc(100% - 205px);
  flex-direction: column;
  .mindset-tab-scroll {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
  }
  .mindset-tab-header {
    font-size: 2.5em;
    font-family: roboto;
    line-height: 40px;
  }
  .mindset-tab-incompleted-content {
    margin-top: 20px;
    flex: 1;
    .mindset-incomplete-title {
      font-size: 1.6em;
      text-align: left;
      font-weight: bold;
      border-bottom-color: map_get($colors, light-gray);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-bottom: 15px;
      color: map_get($colors, dark-color);
    }
  }
  .mindset-incomplete-main-content {
    margin-top: 30px;
    width: 100%;
    text-align: left;
    .mindset-incomplete-description {
      height: 200px;
      margin-bottom: 30px;
      width: 47%;
      margin-right: 3%;
      display: inline-block;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      .mindset-incomplete-descr-header {
        font-size: 1.6em;
        font-family: roboto;
        font-weight: bold;
        color: map_get($colors, grey-color);
        &.mindset-incomplete-descr-body {
          margin-top: 40px;
          font-size: 1.2em;
          font-weight: 100;
          line-height: 1.3em;
        }
      }
    }
  }
}
.mindset-tab-header-description {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 20px;
  color: gray;
  font-family: Roboto-medium;
  font-weight: 100;
}