@import "public/colors";

.mindset-container {
  flex: 1;
  flex-direction: column;
  //overflow: scroll;
  //overflow-x: auto;
  //overflow-y: auto;
}
.top-background-image {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  position: relative;
  .background-title {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    line-height: 150px;
    font-size: 5rem;
    color: white;
    font-family: 'roboto';
  }
}
.background-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(map_get($colors, dark-gray), 0.5);
}
.tab-pane {
  background-color: orange;
  height: 200px;
  flex: 1 !important;
}

.tab {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  .item {
    flex: 1 !important;
    border-color: map_get($colors, light-gray) !important;
    border-bottom-width: 7px !important;
    font-size: 1.2em;
    font-family: 'roboto';
    font-weight: bold !important;
    padding-bottom: 10px !important;
    text-align: center;
    display: block !important;
    &.active {
      flex: 1 !important;
      border-color: map_get($colors, address-bar) !important;
      color: map_get($colors, address-bar) !important;
    }
  }
}