@import "public/colors";

.lifestyle-dialog {
  background-color: white !important;
  color: map_get($colors, dark-gray) !important;
  box-shadow: 0px 2px 10px rgba(map_get($colors, dark-gray),0.5) !important;
  -webkit-box-shadow: 0px 2px 10px rgba(map_get($colors, dark-gray),0.5) !important;
  font-family: 'roboto' !important;
  font-weight: 100 !important;
  font-size: 0.7em;
  height: 110px;
  text-align: right;
  width: 90%;
  letter-spacing: 0.5px;
  form {
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 20px;
  }
}

.addlifestyle-textarea {
  font-family: 'roboto';
  font-weight: 100 !important;
  border: none !important;
  font-size: 1.1em !important;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 45px;
  resize: none !important;
  padding: 0 !important;
}
.addlifestyle-btn {
  margin-right: 30px !important;
  height: 35px;
  width: 90px;
  background: map_get($colors, address-bar) !important;
  color: white !important;
  font-family: 'roboto';
  font-weight: 100 !important;
}