.header {
  background-color: #26BCB9;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: none; }

.header-title {
  text-align: left;
  margin: 0;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.header-help {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center; }
  .header-help .help-icon {
    color: white;
    margin: 0;
    height: auto !important;
    font-size: 2.2em !important; }
  .header-help .header-notification {
    margin: 0;
    position: relative; }
    .header-help .header-notification .alarm-icon {
      color: white;
      margin: 0 !important;
      height: auto !important; }
    .header-help .header-notification .alarm-badge {
      width: 18px;
      height: 18px;
      text-align: center;
      display: block !important;
      line-height: 18px;
      font-size: 0.8em;
      color: white;
      background: #BC3526;
      top: -3px;
      right: -5px;
      padding: 0;
      border-radius: 50% !important;
      position: absolute;
      font-weight: initial; }
