.mindset-incompleted-row {
  height: 200px;
  margin-bottom: 30px !important;
  background: #26BCB9 !important;
  width: 47%;
  margin-right: 3% !important;
  float: left;
  border-radius: 3px !important;
  position: relative;
  overflow: hidden;
  text-align: left !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5) !important;
  padding: 0 !important; }
  .mindset-incompleted-row .mindest-incompleted-row-title {
    font-size: 1.5em;
    font-family: roboto;
    color: white;
    margin-top: 40px;
    margin-left: 25px;
    letter-spacing: 0.6px;
    font-weight: 100; }
  .mindset-incompleted-row .mindest-incompleted-row-description {
    margin-top: 50px;
    margin-left: 25px;
    font-size: 1.2em;
    color: white;
    margin-right: 125px;
    letter-spacing: 0.6px;
    line-height: 1.4em;
    font-family: roboto;
    font-weight: 100;
    margin-bottom: 40px; }
  .mindset-incompleted-row .mindset-incompleted-button {
    position: absolute;
    top: -30px;
    right: -30px;
    padding: 0;
    background: none !important; }
    .mindset-incompleted-row .mindset-incompleted-button .mindset-incompleted-row-background {
      background-color: #80D7D5;
      width: 160px;
      height: 160px;
      border-radius: 80px;
      text-align: center; }
      .mindset-incompleted-row .mindset-incompleted-button .mindset-incompleted-row-background .mindset-incompleted-row-icon {
        width: 55px;
        display: inline-block;
        margin-top: 45px; }
  .mindset-incompleted-row .mindset-row-check-icon {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 40px; }
