h1 {
  font-family: 'Roboto';
  font-size: 4.5em;
  font-weight: medium; }

h2 {
  font-family: 'Roboto-medium';
  font-weight: bold !important;
  font-size: 3em; }

h3 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2em; }

h4 {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2em; }

h5.bold {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1rem; }

h5.medium {
  font-family: 'Roboto';
  font-weight: medium;
  font-size: 1rem; }

h5.body {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1rem; }

h5.light {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1rem; }

h6 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 1.25em; }

button {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 1.5em; }

body {
  margin: 0; }

.center-wrapper {
  display: table;
  width: 100%;
  height: 100%; }

.center-content {
  display: table-cell;
  vertical-align: middle; }

.modal-dialog {
  border-radius: 20px !important;
  width: 800px !important;
  left: auto !important;
  margin-left: calc(50% - 400px) !important; }
  .modal-dialog.save-modal {
    width: 1000px !important;
    margin-left: calc(50% - 500px) !important; }
  .modal-dialog .modal-close-button {
    position: absolute;
    right: 20px !important;
    top: 15px !important;
    background: none !important;
    font-size: 40px !important;
    line-height: 40px;
    width: 35px;
    height: 50px;
    padding: 0 !important; }
    .modal-dialog .modal-close-button .modal-close-image {
      width: 25px; }

.modals {
  background-color: rgba(255, 255, 255, 0.6) !important; }

.modal-content {
  height: 500px;
  border-radius: 20px !important;
  text-align: center; }
  .modal-content.save-modal-content {
    height: 600px; }
  .modal-content .modal-title {
    font-size: 3em;
    font-weight: bold;
    font-family: roboto-bold;
    color: #26BCB9;
    text-align: center;
    margin-top: 20px; }
    .modal-content .modal-title.modal-description {
      font-size: 2em;
      margin-left: 50px;
      margin-right: 50px;
      color: #092626;
      line-height: 1.2em; }
    .modal-content .modal-title.save-modal {
      font-size: 2.5em; }
  .modal-content .modal-check-icon {
    display: inline-block !important;
    width: 75px;
    margin-top: 40px;
    margin-bottom: 40px; }

.save-modal-main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 370px;
  margin-top: 10px; }
  .save-modal-main-content .left-content {
    flex: 1;
    border-right-color: #D8D8D8; }
    .save-modal-main-content .left-content .camera-place-image {
      border-width: 3.5px;
      border-style: dashed;
      height: 200px;
      margin-left: 40px;
      margin-right: 60px;
      border-radius: 10px;
      border-color: #D8D8D8;
      -webkit-box-shadow: 0px 2px 10px rgba(143, 143, 143, 0.5);
      box-shadow: 0px 1px 10px rgba(143, 143, 143, 0.5);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 70px; }
      .save-modal-main-content .left-content .camera-place-image.real-image {
        background-size: cover;
        background-position: center; }
    .save-modal-main-content .left-content .upload-button {
      background: none;
      width: auto;
      padding: 0;
      margin-top: 15px; }
      .save-modal-main-content .left-content .upload-button .camera-icon {
        width: 30px;
        display: inline-block; }
      .save-modal-main-content .left-content .upload-button .button-name {
        margin-left: 10px;
        font-size: 1.15em;
        font-family: roboto;
        color: #26BCB9;
        font-weight: 100; }
  .save-modal-main-content .right-content {
    flex: 1; }
    .save-modal-main-content .right-content .form-textarea {
      margin-left: 20px; }
      .save-modal-main-content .right-content .form-textarea .addlifestyle-textarea {
        font-family: 'roboto';
        font-weight: 100 !important;
        font-size: 1.2em !important;
        margin-bottom: 0px;
        resize: none !important;
        border-width: 1px !important;
        border-color: #26BCB9 !important;
        border-style: solid !important;
        margin-top: 10px;
        padding: 10px !important;
        height: 250px;
        letter-spacing: 1.1px; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  font-style: italic; }

::-moz-placeholder {
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

.save-button {
  font-size: 2em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 70px !important;
  padding-right: 70px !important;
  margin-top: 15px !important;
  font-family: roboto bold !important;
  background-color: #26BCB9 !important;
  color: white !important; }

.skip-button {
  font-size: 1.4em !important;
  margin-top: 15px !important;
  font-family: roboto bold !important;
  background-color: transparent !important;
  color: #26BCB9 !important;
  padding-top: 0 !important; }

.save-journal-modal-right-title {
  font-weight: bold;
  font-family: roboto-bold;
  font-size: 1.7em;
  color: #092626;
  line-height: 1.2em;
  text-align: left;
  margin-left: 20px; }

.save-journal-modal-right-description {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  font-family: roboto;
  font-size: 1.25em;
  padding-left: 10px;
  border-left-color: #26BCB9;
  color: #092626;
  border-left-width: 3px;
  border-left-style: solid;
  font-style: italic;
  padding-right: 10px;
  letter-spacing: 1.2px; }
