@import "public/colors";

.side-navigation-bar {
  height: 100%;
  background-color: map_get($colors, side-navigation-bar);
  width: 200px;
  text-align: center;
  .username {
    margin-top: 0px;
    color: map_get($colors, address-bar);
  }
  display: none;
}
.avatar-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  background-position: center;
  background-size: cover;
}