.side-navigation-bar {
  height: 100%;
  background-color: #f8f8f8;
  width: 200px;
  text-align: center;
  display: none; }
  .side-navigation-bar .username {
    margin-top: 0px;
    color: #26BCB9; }

.avatar-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  background-position: center;
  background-size: cover; }
